/*Overall html changes*/
.torso {
    background-color: lightblue;
}

p, h1{
    text-align: center;
    font-size: larger;
    color: green;
}
.piping {
    display: block;
    margin-left: auto;
    margin-right: auto;
}